.edit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.edit-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.form-label {
  font-size: 1rem;
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
}

.form-input {
  flex: 1;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.form-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #555;
}

.back-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #555;
}
/* 공통 리스트 스타일 */
.genre-list, .actor-list {
  margin-top: 10px;
}

.genre-item, .actor-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
}

.genre-item button, .actor-item button {
  background-color: #f9f9f9;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.genre-item button:hover, .actor-item button:hover {
  background-color: #f9f9f9;
}
