/* MainPage.css */

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
    padding-top: 20px;
    margin-top: 10px;
}

.main-content {
    width: 80%;
    max-width: 1200px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-movies {
    text-align: left;
    padding: 10px;
}

.no-movies h2 {
    margin-bottom: 10px;
    color: #333;
}

.no-movies h1 {
    color: #333;
}

.no-movies p {
    margin-bottom: 20px;
    color: #555;
}

.add-movie-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: center;
}

.add-movie-button:hover {
    background-color: #555;
}

.movie-section {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.my-movies, .recommended-movies {
    width: 48%;
}

.movie-list {
    display: flex;
    flex-direction: row; /* 가로로 정렬 */
    overflow-x: auto; /* 가로 스크롤 활성화 */
    gap: 15px; /* 카드 간격 */
    padding: 20px 0;
    scrollbar-width: none; /* 스크롤바 숨김 (Firefox) */
}

.movie-list::-webkit-scrollbar {
    display: none; /* 스크롤바 숨김 (Chrome, Edge) */
} 

.movie-item {
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.movie-item:hover {
    transform: scale(1.1); /* 마우스 hover 시 확대 */
}

.movie-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie-item p {
    color: #333;
    font-size: 14px;
}

.add-movie-section {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-top: 10px; /* 상단과 간격 추가 */
}


.add-movie-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-movie-button:hover {
    background-color: #555;
}
