/* MovieList.css */

.movie-list {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.movie-list::-webkit-scrollbar {
    height: 8px;
}

.movie-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
