.my-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.member-info-section {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.member-info-section h2 {
  margin-bottom: 10px;
  color: #333;
}

.registered-movies-section {
  flex: 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.registered-movies-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 1행에 4개 */
  gap: 20px;
}

.registered-movie-card {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.registered-movie-card img {
  width: 100%;
  border-radius: 10px;
}

.registered-movie-card p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.upcoming-movies-section {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upcoming-movies-list {
  display: flex;
  gap: 20px;
}

.movie-card {
  width: 150px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-card p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
