.my-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.top-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.member-info-section,
.upcoming-movies-container {
  flex: 1; /* 같은 크기로 설정 */  
  padding: 20px;
  display: row;
}

.registered-movies-section {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.account-button {
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 120px;
}

.logout-button {
  background-color: #555;
  color: white;
  border: none;
}

.logout-button:hover {
  background-color: #333;
}

.withdraw-button {
  background-color: #555;
  color: white;
  border: none;
}

.withdraw-button:hover {
  background-color: #333;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.registered-movie-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.registered-movie-card img {
  width: 100%;
  border-radius: 10px;
}

.registered-movie-card p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
