/* 전체 페이지 스타일링 */
.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    min-height: 100vh; /* 최소 높이를 100vh로 설정하여 스크롤 가능하게 */
    padding-top: 60px;
}

/* 검색 결과 콘텐츠 */
.search-content {
    width: 80%;
    max-width: 1200px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
}

/* 검색 결과 없을 때 메시지 스타일 */
.no-results-message {
    text-align: center; /* 텍스트 가운데 정렬 */
    margin-top: 50px; /* 위쪽 여백 추가 */
    font-size: 18px; /* 텍스트 크기 조정 */
    color: #555; /* 텍스트 색상 */
}

/* 검색 폼 스타일 */
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-form input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 16px;
}

.search-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #555;
}

/* 영화 리스트 스타일 */
.movie-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* 아이템들이 줄 바꿈 되도록 설정 */
    padding-bottom: 10px;
}

/* 영화 항목 스타일 */
.movie-item {
    flex: 0 0 auto; /* Flexbox 내에서 항목이 줄어들지 않도록 설정 */
    width: 180px;
    text-align: center;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative; /* overlay 적용을 위한 위치 설정 */
}

.movie-item:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    z-index: 1; /* 확대될 때 다른 요소 위로 올라오도록 설정 */
}

.movie-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* 영화 제목 스타일 */
.movie-item p {
    color: #333;
    font-size: 16px;
}

/* 필요 없는 영화 overlay 부분 제거 */
.movie-overlay {
    display: none; /* 필요 없는 경우 제거 또는 숨김 처리 */
}
