/* SurveyPage.css */

.survey-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100vh;
}

.survey-page h2 {
    margin-bottom: 20px;
    color: #333;
}

.survey-page p {
    margin-bottom: 20px;
    color: #555;
}

.survey-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
  }
  
  .checkbox-item input {
    margin-right: 5px;
  }
  
  .actor-input-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .actor-input-group button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.actor-input-group button:hover {
    background-color: #555;
}

  .actor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .actor-item {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
  }
  
  .actor-item button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .actor-item button:hover {
    background-color: #555;
  }
  